@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-foreground: 22 22 29;
  --color-background: 255 255 255;
  --color-surface: 242 242 242;
  --color-accent: 175 33 246;
  --color-on-accent: 255 255 255;
}

.dark {
  --color-foreground: 255 255 255;
  --color-background: 22 22 29;
  --color-surface: 31 31 38;
  --color-accent: 33 246 175;
  --color-on-accent: 22 22 29;
}

body {
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
}
